.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}



.navbar .logo{
    width: max(10%,80px);
    border-radius: 50%;
}
.navbar .profile{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    
}